
<div class="container table-responsive" ng-controller="itemListCtrl" style="height:100%;width:100%;">
    <form class="form-inline text-center">
        <div class="form-group">
            <label>Classification</label>
            <select name="q2" class="form-control" ng-model="q2" ng-options="x.classificationName for x in classificationChoice" ng-change="search()">
                <!-- <option value="0">All</option> -->
            </select>
        </div>
        <div class="form-group">
            <label>Maker</label>
            <select name="makerQuery" class="form-control" ng-model="makerQuery" ng-options="x.maker for x in makerChoice" ng-change="search()">
                <!-- <option value="0">All</option> -->
            </select>
        </div>
        <div class="form-group">
            <label>Code</label> <input name="q3" type="text"
            class="form-control" placeholder="Prefix Search" ng-model="inputCode">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
    <hr>

    <div class="clearfix" style="margin: 10px 0;" ng-if="user.type != 'salesman'">
        <a href="#itemForm" class="btn btn-sm btn-success pull-right">
            <span class="glyphicon glyphicon-plus"></span> New
        </a>
    </div>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Classification</th>
                    <th>Code</th>
                    <th>Maker</th>
                    <th>Detail</th>
                    <th>Price</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody id="tbody-stocks">
                <tr ng-repeat="x in records" data-href="#/itemDetail?id={{ x.id }}" ng-click="detail($event)" style="cursor: pointer;">
                    <td>{{ x.text }}</td>
                    <td>{{ x.code }}</td>
                    <td>{{ x.maker }}</td>
                    <td>{{ x.detail }}</td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.unit }}</td>
                </tr>
            </tbody>
        </table>
</div>


<script type="text/javascript">
    $('.table').on('click', 'tbody > tr', function() {
        window.location = $(this).attr('data-href');
    });
</script>
